@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

::-webkit-scrollbar {
   width: 6px;
}

::-webkit-scrollbar-thumb {
   background: #9333ea;
   border-radius: 999px;
}
